/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  font-family: "Nunito", serif;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Player Container */
.player-container {
  background-color: #fee3e5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 30rem;
}

/* Top Controls */
.nav-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-controls button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #d44d80;
  box-shadow: 0 2px 15px rgba(212, 77, 128, 0.5);
  cursor: pointer;
}

/* Song Data */
.song-data img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  box-shadow: 0 2px 15px rgba(212, 77, 128, 0.5);
}

.track-title {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.song-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.range-input {
  width: 100%;
  -webkit-appearance: none;
  background-color: #d44d80;
  border-radius: 1rem;
  height: 0.75rem;
  cursor: pointer;
  margin-top: 1rem;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #d44d80;
  border: 0.4rem solid #fff;
  cursor: pointer;
}

/* Controls */
.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.back-btn,
.forward-btn,
.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  color: #d44d80;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(212, 77, 128, 0.5);
  cursor: pointer;
}

.play-btn {
  width: 5rem;
  height: 5rem;
  color: #fff;
  background-color: #d44d80;
}

/* Media Query */
@media screen and (max-width: 30rem) {
  .player-container {
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
  }
}
